@import 'tailwindcss';
:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --background: rgba(26, 26, 30, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
button {
  font-family: 'Inter', sans-serif;
}

.text-text {
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-primary {
  @apply text-purple-500;
}

.bg-background {
  background-color: var(--background);
}
